.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    color: #434455;
    background-color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/*common*/
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
            padding: 0 16px;
        }
}
 @media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
 }   

/*header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list,
.contact {
    display: none;
}

.navigation .navigation-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.navigation-logo {
    padding: 16px 0;
    display: block;
}

.navigation .navigation-name {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
        .header-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }

         .navigation-logo {
           padding: 24px 0;
           margin-right: 120px;
         }

        .contact {
         font-style: normal;
         display: block;
         }
        .navigation {
             display: flex;
         align-items: center;
         }
                    .header-link {
                       display: block;
                       padding: 24px 0;
                       font-weight: 500;
                       font-size: 16px;  
                    
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
                    
                    .header-link:hover {
                         color: #404bbf;
                    }
                    
                    .header-link:focus {
                       color: #404bbf;
                    }
                    
                    .header-link.current {
                       position: relative;
                       color: #404bbf;
                    }
                    
                    .header-link.current::after {
                        content: "";
                         position: absolute;
                        left: 0;
                         bottom: -1px;
                        width: 100%;
                         height: 4px;
                        border-radius: 2px;
                         background-color: #404bbf;
                     }

                     .contact{
                      display: flex;
                     flex-direction: column;
                     gap: 12px;
                     }

                    .contact-link {
                        display: block;
                         font-style: normal;
                        font-size: 12px;
                        
                        line-height: 1.17;
                        letter-spacing: 0.04em;
                        color: #434455;
                     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
                        
                 .contact-link:hover {
                         color: #404bbf;
                }
                        
                    .contact-link:focus {
                         color: #404bbf;
                }
 }
 @media screen and (min-width: 1158px) {
.navigation-logo {
    margin-right: 76px;
}
.contact {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 }

 /*mobile-menu*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
opacity: 0;
    visibility: hidden;
    pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
    
}

.mobile-menu-link {   
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
            color: #2e2f42;
}

.mobile-menu-contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: auto;
    margin-bottom: 40px;
}

.mobile-menu-link.current {
    color: #404bbf;
}

.mobile-menu-contact-link {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-social-icons {
    display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
}

.mobile-menu-icons-list {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        fill: #f4f4fd;
        transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .mobile-menu-icons-link {
        display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #4d5ae5;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*main*/
.main {
    text-align: center;
    padding: 72px 0;
        background: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}

.main-title {
    text-align: center;
    max-width: 216px;
    margin: 0 auto;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #fff;
}
.main-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    margin: 72px auto;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn:hover {
    background-color: #404BBF;
}

.main-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .main {
            padding: 112px 0;
            margin: 0 auto;
    }      
}

.main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
        font-size: 56px;
}

.main-btn {
    margin-top: 36px;
    margin-bottom: 112px;
}