.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    color: #434455;
    background-color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/*common*/
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
            padding: 0 16px;
        }
}
 @media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
 }   

/*header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list,
.contact {
    display: none;
}

.navigation .navigation-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.navigation-logo {
    padding: 16px 0;
    display: block;
}

.navigation .navigation-name {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
        .header-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }

         .navigation-logo {
           padding: 24px 0;
           margin-right: 120px;
         }

        .contact {
         font-style: normal;
         display: block;
         }
        .navigation {
             display: flex;
         align-items: center;
         }
                    .header-link {
                       display: block;
                       padding: 24px 0;
                       font-weight: 500;
                       font-size: 16px;  
                    
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
                    
                    .header-link:hover {
                         color: #404bbf;
                    }
                    
                    .header-link:focus {
                       color: #404bbf;
                    }
                    
                    .header-link.current {
                       position: relative;
                       color: #404bbf;
                    }
                    
                    .header-link.current::after {
                        content: "";
                         position: absolute;
                        left: 0;
                         bottom: -1px;
                        width: 100%;
                         height: 4px;
                        border-radius: 2px;
                         background-color: #404bbf;
                     }

                     .contact{
                      display: flex;
                     flex-direction: column;
                     gap: 12px;
                     }

                    .contact-link {
                        display: block;
                         font-style: normal;
                        font-size: 12px;
                        
                        line-height: 1.17;
                        letter-spacing: 0.04em;
                        color: #434455;
                     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
                        
                 .contact-link:hover {
                         color: #404bbf;
                }
                        
                    .contact-link:focus {
                         color: #404bbf;
                }
 }
 @media screen and (min-width: 1158px) {
.navigation-logo {
    margin-right: 76px;
}
.contact {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 }

 /*mobile-menu*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
opacity: 0;
    visibility: hidden;
    pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 24px;
        height: 24px;
        background-color: #fff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.mobile-menu-svg {
    fill: #2E2F42;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
    
}

.mobile-menu-link {   
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
            color: #2e2f42;
}
.mobile-menu-link.current {
    color: #404bbf;
}

.mobile-menu-contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: auto;
    margin-bottom: 40px;
    font-style: normal;
}

.mobile-menu-contact-link {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-contact-link.current {
    color: #4d5ae5;
}


.mobile-menu-social-icons {
    display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
}

.mobile-menu-icons-list {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        fill: #f4f4fd;
        transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .mobile-menu-icons-link {
        display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #4d5ae5;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*main*/
.main {
    text-align: center;
    padding: 72px 0;
        background: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
.main-title {
    text-align: center;
    max-width: 216px;
    margin: 0 auto;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #fff;
}
.main-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    margin: 72px auto;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn:hover {
    background-color: #404BBF;
}

.main-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .main {
            padding: 112px 0;
            margin: 0 auto;
    }      
.main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
        font-size: 56px;
}
}
@media screen and (min-width: 1158px) {
    .main {padding: 188px 0;
}
}

/*modal*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    padding: 72px 16px 24px 16px;
    min-height: 623px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    background-color: #404bbf;
    border: none;
}

.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close:hover .modal-close-svg {
    fill: #fff;
}

.modal-close:focus .modal-close-svg {
    fill: #fff;
}

.modal-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
} 

.modal-form {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 100%;
    height: 336px;
}

.form-field {
    display: block;
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-left: 34px;
}

.form-input:hover {
    border: 1px solid #4d5ae5;
}

.form-input:focus {
    border: 1px solid #4d5ae5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover+.form-icon {
    fill: #4d5ae5;
}

.form-input:focus+.form-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    display: block;
    margin-bottom: 16px;
}

.form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
    color: #8e8f99;
    opacity: 0.5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover,
.form-textarea:focus {
    border: 1px solid #4d5ae5;
}

.form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox {
    margin-bottom: 24px;
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.5px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-span:active {
    background-color: #404BBF;
}

.checkbox-svg {
    fill: #f4f4fd;
    transition: fill cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox {
    display: none;
}

input:checked+label>span {
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}

.checkbox-label {
    text-align: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.primary-btn {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-btn:hover,
.primary-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
.modal {
    width: 408px;
        padding: 72px 24px 24px 24px;
        min-height: 584px;
}
.checkbox-span {
    margin-right: 8px;
}
}

@media screen and (min-width: 1158px) {
.form-input {
    padding-left: 38px;
}
}

/*points*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.points {
    padding-top: 96px;
    padding-bottom: 96px;
}
.points-icon {
    display: none;
}

.points-link {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.points-list {
    width: 100%;
}

.points-link .points-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.points-link .points-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

@media screen and (min-width: 768px) {
    .points-link {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            row-gap: 72px;
        }
    
    .points-list {
            width: calc((100% - 24px) /2);
        }

    .points-link .points-title {
     text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .points {padding-top: 120px;
    padding-bottom: 120px;}
.points-link {
        display: flex;
        align-items: center;
        gap: 24px;
    }
        .points-list {
            width: calc((100% - 72px) /4);
}
.points-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.points-link .points-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}
.points-link .points-text {
    font-weight: 400;}
}

/*team*/

.team {
    background-color: #f4f4fd;
    width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-container {
    padding-right: 28px;
    padding-left: 28px;
}
.team-group {
    padding: 32px 0;
}
.team-list {
display: flex;
flex-wrap: wrap;
row-gap: 72px;}

.list-item {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-main-title {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 72px;

    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-title {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0;
}

.icons-list {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list:hover,
.icons-list:focus {
    background-color: #404bbf;
}

.icons-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover,
.icons-link:focus {
    background-color: #404bbf;
}

.icons-svg {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
.team-list {display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;}
 .list-item {width: calc((100% - 24px) /2);
}

.team-container {
padding-right: 108px;
padding-left: 108px;
}

.team-group {margin: 0;}
}

@media screen and (min-width: 1158px) {
    .team {padding-top: 120px;
    padding-bottom: 120px;}
    .team-container {padding: 0 15px;
                  }
    .list-item {
            width: calc((100% - 72px) /4);}

    .team-group {
        margin: 0;
    }
}

/*portfolio*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-container {
    width: 100%;
            padding-right: 16px;
            padding-left: 16px;
            margin: auto;
        }

.overlay-desc {
    display: none;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
}

.portfolio .portfolio-title-main {
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.portfolio-group {
    padding: 32px 16px;
    margin-bottom: 48px;
    border-top: none;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-title {
    margin-bottom: 8px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-descr {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
    }
    .portfolio-item {
        width: calc((100% - 24px) /2);
    }
    
    .portfolio-group {
    margin-bottom: 0;
}
}

@media screen and (min-width: 1158px) {
    .portfolio {padding-top: 120px;
    padding-bottom: 120px;}
    .portfolio-list {
            justify-content: space-between;
            margin: 0;
            column-gap: 24px;
            row-gap: 48px;
        }
        .portfolio-item {
            width: calc((100% - 48px) /3);
            transition: none;
            box-shadow: none;
        }
        .thumb {
            position: relative;
            overflow: hidden;
            left: 0;
            top: 0;
        }
        .overlay-desc {display: flex;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 40px 32px;
            width: 100%;
            transform: translateY(100%);
            background-color: #4d5ae5;
            color: #F4F4FD;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .portfolio-item:hover {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
        }
    
        .portfolio-item:hover .overlay-desc {
            transform: translateY(0);
        }
}

/*footer*/
.end {padding: 96px 0;
    background-color: #2e2f42;}
.end-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.end-web {
    margin-bottom: 72px;
}
.footer-social-media {
    margin-bottom: 72px;
}

.end .footer-logo {margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.end .footer-name {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.end-text {
    max-width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-social-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-social {
    display: flex;
    gap: 16px;
}
.footer-icons {
    display: inline-block;
    gap: calc((100% - 48px) /4);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-items: center;
    align-items: center;
    background-color: #4d5ae5;
}
.footer-icons:hover,
    .footer-icons:focus {
        background-color: #31D0AA;
    }
.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}
.footer-svg {
    fill: #f4f4fd;
}
.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;}


.footer-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2e2f42;
    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: transparent;
}
 .footer-form-input::placeholder {
     color: color #ffffff;
 }
 .footer-form-input:hover,
 .footer-form-input:focus {
     border-color: #404bbf;
 }
 .form-button {margin-top: 26px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0;
     border-radius: 4px;
     min-width: 165px;
     height: 40px;
     background: #4d5ae5;
     border: none;
     color: #fff;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.50;
     letter-spacing: 0.04em;
     margin-right: auto;
     margin-left: auto;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.form-button:hover,
 .form-button:focus {
     background-color: #404bbf;
     border: none;
 }
 .footer-subscribe-icon {
     fill: #fff;
     margin-left: 16px;
 }
@media screen and (min-width: 768px) {
.end-container {display: flex;
    padding-right: 164px;
    padding-left: 108px;
    align-items: baseline;
    justify-content: flex-start;
    text-align: left;
    column-gap: 24;
    row-gap: 72px;
}
.end-web {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
}
.footer-form {
    display: flex;
        gap: 24px;}
.form-button {margin-top: 0;}
.footer-form-input {
    width: 264px;
    gap: 24px;
}
.footer-social-title {text-align: left;}
}


@media screen and (min-width: 1158px) {
.end-container {
        display: flex;
        padding-right: 15px;
        padding-left: 15px;
        align-items: baseline;
        justify-content: left;
        margin: 0 auto;
    }
    .end-web {
            margin-right: 120px;
        }
    .footer-social-media {
        margin-right: 80px;
    }
.end {
    background-color: #2e2f42;
    padding: 100px 0;
}
 .footer-form {
     display: flex;
     gap: 24px;
 }
 .end-text {
     max-width: 264px;
}
}